/* *{
    font-family: 'Caveat', cursive;
    box-sizing: border-box;
} */
.home-product{
   margin-top: 100px;
}
.main-detail{
   display: flex;
}
.list-img{

}
.list-img-div{
    border: 2px solid #000;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 5px;
}
.item-img{
    width: 60px;
    height: 60px;
    padding: 4px;
}
.hed-img{
    margin-left: 36px;
    width: 310px;
    height: 310px;
}
.sub-img{
    width: 300px;
    height: 300px;
}
.description{
    margin-top: 100px;
}
.description-name{
    text-transform: uppercase;
}
.description-sub{
    font-size: 14px;
}
.action{
    margin-left: 150px;
    width: 350px;
}
.action-name{
    font-weight: 700;
    text-transform: uppercase;
}
.action-price{
    font-weight: 600;
    color: red;
}
.action-sizes-name{
    margin-top: 10px;
    font-size: 16px;
    color: #a3a1a1;
    display: block;
}
.action-sizes{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.action-sizes-item{
    padding: 7px 16px;
    border: 1px solid #c9c8c8;
    margin-left: 8px;
    font-size: 14px;
    margin-top: 5px;
    cursor: pointer;
}
.active{
    background-color: #000;
    color: #fff;
}
.action-colors{
    margin-top: 20px;
}
.action-colors-name{
    color: #a3a1a1;
}
.action-colors-list{
    display: flex;
    margin-top: 5px;
}
.action-colors-item{
    width: 80px;
    padding: 7px 0;
    border: 1px solid #c9c8c8;
    margin-left: 8px;
    font-size: 14px;
    margin-top: 5px;
    cursor: pointer;
    text-align: center;
}
.action-colors-item:active{
    background-color: #000;
    color: #fff;
}
.action-quantity{
    margin-top: 30px;
}
.action-quantity-name{
    color: #a3a1a1;
    margin-right: 20px;
}
.action-btn{
    margin-top: 40px;
}
.action-btn-pr{
   border: none;
   background-color: #c7771c;
   padding: 8px 56px;
   color: #fff;
   border-radius: 5px;
   font-weight: 600;
}
.action-btn-pr:hover{
    opacity: 0.9;
}
.action-icon{
    margin-top: 20px;
}
.action-icon-mt{
    margin-left: 20px;
}
.action-icon-xh{
    cursor: pointer;
}