
.product{
    width: 310px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 24px;
    
}
.product-img{
    width: 250px;
    height: 150px;
}
/* .number{
     background-color: #000;
     width: 40px;
     color: #fff;
     border-radius: 70px;
     text-align: center;
     float: right;
     margin-bottom: 5px;
     font-size: 12px;
} */

.action{
    display: flex;
    margin-top: 10px;
}
.action-price{
    color: red;
    margin-right: 10px;
    font-size: 20px;
}
.action-price-sale{
    color: #d5d5d5;
    margin-top: 5px;
    margin-right: 10px;
    text-decoration: line-through;
    font-size: 14px;
}
.action-seller{
    height: 20px;
    background-color: rgb(216, 207, 78);
    border-radius: 30px;
    text-align: center;
    font-size: 13px;
    padding: 0 8px;
}
.seller-none{
    display: none;
}
.heading{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.heading-name{
    font-size: 20px;
    font-weight: 600;
}
.Evaluate{
    display: flex;
    margin-top: 3px;
    font-size: 14px;
}
.sub{
    font-size: 13px;
    margin-top: 5px;
}

.color{
    margin-top: 10px;
    font-size: 16px;
}
.color-primary{
    display: flex;
    /* justify-content: space-evenly; */
}
.main-color{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 20px;
    cursor: pointer;
}

.active-color{
    border: 2px solid #c7771c;
    box-shadow: 0 0 20px rgb(198, 107, 2);
}
.bg-success{
    margin-left: 50px;
}
.Size{
    margin-top: 10px;
}
.Size-cm{
    font-size: 16px;
}
.Size-home{
    margin-top: 10px;
    display: flex;
}
.Size-home-pr{
    width: 62px;
    height: 28px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    margin-left: 10px;
    cursor: pointer;
}

.black{
    background-color: #000 !important;
    color: #fff ;
}
.bg-sec{
    background-color: #d5d5d5;
}
.Quantity{
    margin-top: 20px;
}
.Quantity-hed{
    display: flex;
}
.Quantity-hed-name{
    font-size: 16px;
}
.Quantity-hed-instock{
    font-size: 12px;
    height: 20px;
    background-color: rgb(168, 219, 168);
    border-radius: 60px;
    margin: 4px 0 0 10px;
    text-align: center;
    color: #4a4949;
    padding: 0 8px;
    
}
.Quantity-hed-outstock{
    font-size: 12px;
    height: 20px;
    background-color: rgb(216, 78, 92);
    border-radius: 60px;
    margin: 4px 0 0 10px;
    text-align: center;
    color: #fff;
    padding: 0 8px;
    
}
.input-price{
    margin-top: 10px;
}
.interact{
    margin-top: 20px;
    width: 100%;
    border: solid 2px #545252;
    display: flex;
    padding: 8px;
    justify-content: space-between;
    border-radius: 10px;
}
.interact-btn{
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #c7771c;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
.interact-btn:hover{
    opacity:0.9;
}

