
  <!-- Product -->
  <div class="main ">
      <div class="product " *ngIf="data">
        <img [src]="data?.image" class="product-img" alt="" [routerLink]="['/product-detail', data.id]">
          <div class="action">
              <h3 class="action-price">{{data.price}}đ</h3>
              <span class="action-price-sale">{{data.priceSale}}đ</span>
                <div class="action-seller" [class.seller-none] ="isBestSeller">{{data.seller}}</div>
          </div>
          <div class="heading">
              <h3 class="heading-name">{{data.title}}</h3>
              <div class="Evaluate">
                  <div class="Evaluate-icon">4.9</div>
                  <span class="Evaluate-number">(2000+) ></span>
              </div>
          </div>
          <div class="sub">
              <i class="sub-des">{{data.content}}</i>
          </div>
          <div class="color">
              <span class="color-name">Color</span>
              <div class="color-primary">
                 <div *ngFor="let color of colors" class="main-color" [ngClass]="color.class" [class.active-color]="color === selectedColor" (click)="selectedColor = color">
              </div>
          </div>

          </div>
          <div class="Size">
              <span class="Size-cm">Size (cm)</span>
                <div class="Size-home">
                  <div *ngFor="let size of sizes" class="Size-home-pr bg-sec" [class.black]="size === selectedSize" (click)="selectedSize = size">
                    {{ size }}
                  </div>
                </div>
          </div>
          <div class="Quantity">
            <div class="Quantity-hed">
                  <span class="Quantity-hed-name">Quantity</span>
                  <div [ngClass]="data.instock ? 'Quantity-hed-instock' : 'Quantity-hed-outstock'">
                    {{ data.instock ? 'In Stock' : 'Out Stock' }}
                  </div>
              </div>
              
              <input class="form-control input-price" type="number" name="quantity" (change)="sizeChange($event)" min="0" max="10" value="0" >
          </div>
          <div class="interact">
              <div class="interact-icon"></div>
              <div class="interact-icon"></div>
              <button class="interact-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Buy Now</button>
          </div>
      </div>

  </div>

   

<!-- Add product modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add product</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          You have successfully added the product to your cart
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">To cart</button>
        </div>
      </div>
    </div>
  </div>





  

  


   



