<!-- Header -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Pricing</a>
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
  
        </div>
      </div>
    </div>
  </nav>
  <!-- Product -->
  <div class="main">
      <div class="product" >
          <div class="number">{{product.number}}</div>
          <div class="slider">
              <div id="carouselExample" class="carousel slide">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img [src]="'assets/image/banner1.jpg'" class="d-block w-100  slider-img" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img [src]="'assets/image/banner2.jpg'" class="d-block w-100 slider-img" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img [src]="'assets/image/banner3.jpg'" class="d-block w-100 slider-img" alt="...">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
          </div>
          <div class="action">
              <h3 class="action-price">{{product.price}}đ</h3>
              <span class="action-price-sale">{{product.priceSale}}đ</span>
                <div class="action-seller" [class.seller-none] ="isBestSeller">{{product.seller}}</div>
          </div>
          <div class="heading">
              <h3 class="heading-name">{{product.title}}</h3>
              <div class="Evaluate">
                  <div class="Evaluate-icon">4.9</div>
                  <span class="Evaluate-number">(2000+) ></span>
              </div>
          </div>
          <div class="sub">
              <i class="sub-des">{{product.content}}</i>
          </div>
          <div class="color">
              <span class="color-name">Color</span>
              <!-- <div class="color-primary">
                  <div (click) = "activeColor($event)" class="main-color bg-success active-color"> </div>
                  <div (click) = "activeColor($event)" class="main-color bg-danger "></div>
                  <div (click) = "activeColor($event)" class="main-color bg-primary "></div>
                  <div (click) = "activeColor($event)" class="main-color bg-info "></div>
                  <div (click) = "activeColor($event)" class="main-color bg-black "></div>
              </div> -->
              <!-- app.component.html -->
          <div class="color-primary">
            <div *ngFor="let color of colors"  class="main-color" [ngClass]="color.class" [class.active-color]="color === selectedColor" (click)="selectedColor = color">
            </div>
          </div>

          </div>
          <div class="Size">
              <span class="Size-cm">Size (cm)</span>
              <!-- <div class="Size-home">
                  <div (click) = "activeSize($event)" class="Size-home-pr bg-sec black ">45*53</div>
                  <div (click) = "activeSize($event)" class="Size-home-pr bg-sec ">42*40</div>
                  <div (click) = "activeSize($event)" class="Size-home-pr bg-sec">40*40</div>
                  <div (click) = "activeSize($event)" class="Size-home-pr bg-sec">35*49</div>
              </div> -->

              <div class="Size-home">
                <div *ngFor="let size of sizes" class="Size-home-pr bg-sec" [class.black]="size === selectedSize" (click)="selectedSize = size">
                  {{ size }}
                </div>
              </div>
      
          </div>
          <div class="Quantity">
              <div class="Quantity-hed">
                  <span class="Quantity-hed-name">Quantity</span>
                  <div class="Quantity-hed-stock">{{product.instock}}</div>
              </div>
              <input class="form-control input-price" type="number">
          </div>
          <div class="interact">
              <div class="interact-icon"></div>
              <div class="interact-icon"></div>
              <button class="interact-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Buy Now</button>
          </div>
      </div>
  </div>

<!-- Add product modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add product</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          You have successfully added the product to your cart
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">To cart</button>
        </div>
      </div>
    </div>
  </div>


